/* 

main-title-color #212121
main-text-color #757575
accent-color #2196F3 
trasparent-white-color rgba(255, 255, 255, 0.6)
main-white-color #FFFFFF
primary-bg-color #E5E5E5
secondary-bg-color #F5F4FA 
tertiary-bg-color #2F303A
secondary-logo-color #000000
*/

:root {
  --main-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --trasparent-white-color: rgba(255, 255, 255, 0.6);
  --main-white-color: #ffffff;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --secondary-logo-color: #000000;
  --tertiary-bg-color: #2f303a;
}

body {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
}
h2,
h3 {
  color: var(--main-title-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Header */
.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-first-part {
  color: var(--accent-color);
}
.logo-second-part {
  color: var(--secondary-logo-color);
}
.nav-link {
  color: var(--main-title-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-contact {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-contact:hover {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
/* Main */
.hero-title {
  color: var(--main-white-color);
  background-color: var(--tertiary-bg-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.vantages-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.vantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.staff-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.staff-text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* Footer */
.footer {
  background-color: var(--tertiary-bg-color);
}
.footer .logo-second-part {
  color: var(--main-white-color);
}
.address {
  color: var(--main-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-contact {
  color: var(--trasparent-white-color);
}
.address-contact:hover,
address-contact:focus {
  color: var(--accent-color);
}
/* Portfolio page */

.filter-button {
  color: var(--main-title-color);
  background-color: var(--secondary-bg-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}
.work-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
